[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rotations"]
	path = rotations
	url = https://github.com/stanfill/rotationsc
	subdir = rotations
